.results-container{
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
  justify-content: space-around;
}

.page-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.result-box{
  max-width: 45%;
  min-width: 45%;
  margin: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.form{
  min-width: 28vw;
  opacity: 0.5;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.form:hover{
  opacity: 1;
}

.subtitle{
  font-weight: 500;
}

.home{
  background: url('./assets/images/NYC.jpeg');
  width: 100vw;
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box{
  box-shadow: 0px 1px 37px -13px rgba(0,0,0,0.62);
}

.box-header{
  display: flex;
  justify-content: space-between;
}

.results-header{
  display: flex;
  justify-content: space-around;
  width: 100vw;
}

.image{
  background-size: contain;
  max-height: 500px;
  width: 500px;
}

@media only screen and (max-width: 950px) {
  .result-box{
    min-width: 90%;
  }

  .results-header{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  button{
    width: 125px;
  }

  .box-content{
    display: flex;
    flex-direction: column;
  }
}